/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: #b2744c;
  border-radius: 10px;
}
html::-webkit-scrollbar {
  width: 10px;
}
/* Navbar start */
#Navbar {
  background: #b2744c;
  font-family: "Roboto", sans-serif;
}

#Navbar .navbar-brand img {
  border-radius: 12px;
  width: 160px;
  margin-left: 40px;
}

.navbar-nav {
  width: 100%;
}

#Navbar .nav-item {
  color: black;
  margin-left: 5px;
  font-weight: 900;
  transition: 0.5s;
  background: #b2744c;
}
#Navbar .nav-item:hover {
  background-color: #ffffff;
  border-radius: 10px;
  color: #000000;
}
#Navbar
  .input-group
  > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(
    .valid-feedback
  ):not(.invalid-tooltip):not(.invalid-feedback) {
  background-color: #000000;
  color: #f7f5f2;
  margin-left: 7px;
  font-size: 13px;
  border: solid 1px white;
  border-radius: 4px;
}

/* Navbar end */

/* start Home */
#Home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(bc3.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 90vh;
  background-position: 90%;
}
#Home .content {
  color: white;
  padding-top: 220px;
  margin-left: 56px;
}
#Home .content h3 {
  font-size: 53px;
}
#Home .content button {
  width: 150px;
  font-size: 18px;
  border-radius: 10px;
  color: #000000;
  transition: 0.4s;
  font-weight: bold;
  -webkit-animation: jump 2s ease 1s infinite normal;
  -moz-animation: jump 1s ease 1s infinite normal;
  -ms-animation: jump 1s ease 1s infinite normal;
  animation: jump 1s ease 1s infinite normal;
}
#Home .content button:hover {
  background-color: #b2744c;
  color: white;
}
@-webkit-keyframes jump {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  80% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-10px);
  }
  80% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
/* end Home */

/* start About */
#About {
  width: 100%;
  height: 100vh;
  background: #f7f5f2;
  font-family: "Roboto", sans-serif;
}
#About .col-12 h3 {
  padding: 60px 0;
  font-size: 35px;
  font-weight: 900;
  color: #000000;
}
#About .col-12 span {
  color: #b2744c;
}
#About .card img {
  border-radius: 5px;
}
#About .col-md-6 h3 {
  color: #000000;
}
#About button {
  width: 200px;
  font-size: 18px;
  border-radius: 5px;
  color: #b2744c;
  transition: 0.4s;
  font-weight: bold;
  border: #b2744c solid 2px;
  background-color: white;
}

#About button:hover {
  background-color: #b2744c;
  color: white;
}
/* end About */

/* start  top-card */
#top-card {
  width: 100%;
  height: 80vh;
  background: #f7f5f2;
  font-family: "Roboto", sans-serif;
}

#top-card .col-12 h3 {
  padding-bottom: 30px;
  font-size: 35px;
  font-weight: 900;
  color: #000000;
  padding-top: 100px;
}

#top-card .col-12 span {
  color: #b2744c;
}
#top-card img {
  border-radius: 10px;
  transition: linear 0.3s;
}
#top-card img:hover {
  transform: translateY(-10px);
  cursor: pointer;
}
/* end  top-card */

/* start Menu */
#Menu {
  width: 100%;
  background: #f7f5f2;
  font-family: "Roboto", sans-serif;
  padding-bottom: 10px;
}

#Menu h2 {
  border-bottom: #b2744c solid 3px;
  color: #b2744c;
  font-weight: bold;
}
#Menu .star {
  color: #b2744c;
  cursor: pointer;
}
#Menu h3 {
  padding-top: 7px;
  color: #b2744c;
}
#Menu p {
  color: #b2744c;
}
#Menu span {
  float: right;
  cursor: pointer;
}
/* end Menu */

/* start Product */

#Product {
  padding-top: 70px;
  width: 100%;
  background: #f7f5f2;
  font-family: "Roboto", sans-serif;
}
#Product h2 {
  border-bottom: #b2744c solid 3px;
  font-weight: bold;
  color: #b2744c;
}
#Product p {
  color: #b2744c;
}
#Product h3 {
  padding-top: 7px;
  color: #b2744c;
}
#Product span {
  float: right;
  cursor: pointer;
  color: #b2744c;
}
/* End Product */

/* start Gallery */

#Gallery {
  padding-top: 70px;
  width: 100%;
  background: #f7f5f2;
  font-family: "Roboto", sans-serif;
  padding-bottom: 20px;
}
#Gallery h2 {
  font-size: 40px;
  font-weight: bold;
  color: black;
}
#Gallery span {
  color: #b2744c;
}
#Gallery img {
  border-radius: 10px;
  cursor: pointer;
}
/* End Gallery */

/* /* <!-- start Content  */

#Contact {
  padding-top: 70px;
  width: 100%;
  height: 100vh;
  background: #f7f5f2;
  font-family: "Roboto", sans-serif;
}
#Contact .container {
  background: linear-gradient(to right, white 80%, #b2744c 20%);
  border-radius: 10px;
  width: 100%;
  height: 80vh;
}
#Contact header {
  color: #000000;
  padding-top: 50px;
  font-size: 40px;
  font-weight: bold;
}
#Contact span {
  color: #b2744c;
}
#Contact p {
  color: rgba(0, 0, 0, 0.819);
}
#Contact input {
  border-style: none;
  border-bottom: #000000 solid;
  width: 50%;
}
#Contact button {
  margin: 40px 0;
  font-size: 20px;
  background-color: #b2744c;
  color: white;
  width: 30%;
  border: none;
}
#Contact .col-md-5 {
  background-color: #000000;
  width: 40%;
  margin-top: 80px;
}

#Contact .col-md-5 h3 {
  padding-top: 20px;
  color: white;
}
#Contact .col-md-5 p {
  color: white;
  padding-top: 23px;
  margin-left: 10px;
}
@media (max-width: 770px) {
  #Contact .col-md-5 {
    background-color: #b2744c;
    width: 100%;
  }
  #Contact .container {
    background: white;
  }
  #Contact {
    height: 150vh;
  }
  #Contact input {
    width: 80%;
  }
}
/* /* <!-- End Content  */

/* start Blogs */
#Blogs {
  width: 100%;
  background: #f7f5f2;
  font-family: "Roboto", sans-serif;
  padding-bottom: 80px;
}

#Blogs h1 {
  color: #000000;
  font-size: 30px;
  font-weight: bold;
}
#Blogs span {
  color: #b2744c;
}
#Blogs .col-lg-4 {
  padding-top: 45px;
}
#Blogs h3 {
  color: #000000;
}
#Blogs h5 {
  color: #b2744c;
}
#Blogs p {
  color: #000000;
}
#Blogs button {
  width: 40%;
  height: 30px;
  background-color: #b2744c;
  color: white;
  border: none;
}
#Blogs button:hover {
  animation-name: bounce-right;
  animation-duration: 3.2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: both;
}
@keyframes bounce-right {
  0% {
    transform: translateX(48px);
  }
  25% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(26px);
  }
  55% {
    transform: translateX(0);
  }
  65% {
    transform: translateX(13px);
  }
  75% {
    transform: translateX(0);
  }
  82% {
    transform: translateX(6.5px);
  }
  87% {
    transform: translateX(0);
  }
  93% {
    transform: translateX(4px);
  }
  98% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}
/* End Blogs */

/* start footer */
#footer {
  width: 100%;
  background: #b2744c;
}
.footer-logo img {
  width: 180px;
  border-radius: 10px;
  margin-top: 30px;
  cursor: pointer;
}
#footer i {
  font-size: 17px;
  margin-left: 10px;
  margin-top: 30px;
  padding: 10px;
  background: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
.credite {
  color: white;
  margin-top: 20px;
}
.credite {
  text-shadow: 0px 0px 1px black;
}
.credite a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.credite a span {
  color: black;
}
.copyright span {
  color: black;
}

.arrow{
    position: fixed;
    bottom: 40px;
    right: 40px ;
}
html{
    scroll-behavior: smooth;
  }
/* End footer */
